# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/coverage

# 機微情報
GoogleService-Info.plist
google-services.json
firebase_app_id_file.json
firebase.json
lib/firebase_options.dart

# iosのbuildの成果物
ios/output/**

# Ignore Android NDK build cache
android/app/.cxx

# Ignore Android NDK build cache
android/app/.cxx

# fastlaneのレポート
ios/fastlane/report.xml
android/fastlane/report.xml

integration_test/test_bundle.dart

# FVM Version Cache
.fvm/

.tmp/

# env
.env
lib/core/env.g.dart

*.freezed.dart
*.g.dart
*.mocks.dart

# packagesの下のものはg.dartをignoreから除外する
!packages/**/*.g.dart

# pigeonのファイルはg.dartをignoreから除外する
!test/test_api.g.dart
!messages.g.dart